.Table{
    width: 100%;
    margin-bottom: 1rem;
}
.Table th,td,tr{
  border: 1px black solid !important;
  text-align: center;
  border-collapse: collapse;
  padding: 8px;
}
/* pop up */
.form_div{
  position: absolute;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background: #fafafa;
  top: 0%;
  /* left: 40%; */
  width: 100vw;
}
.form{
  display: grid;
}
.form input{
  display: block;
}